<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="ServiceNowSoap">
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="Basic" realm="">
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
					</security>
				</binding>
				<binding name="ServiceNowSoap1"/>
				<binding name="ServiceNowSoap2">
					<security mode="Transport">
						<transport clientCredentialType="Basic" proxyCredentialType="Basic" realm="">
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
					</security>
				</binding>
				<binding name="ServiceNowSoap3"/>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://inergexsb.service-now.com/incident.do?displayvalue=true&amp;SOAP" binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap" contract="ServiceNowReference.ServiceNowSoap" name="ServiceNowSoap"/>
			<endpoint address="https://inergexsb.service-now.com/sys_journal_field.do?SOAP" binding="basicHttpBinding" bindingConfiguration="ServiceNowSoap2" contract="JournalTableServiceNowReference.ServiceNowSoap" name="ServiceNowSoap1"/>
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
